body {
  font-family: "popins", sans-serif;
  background-color: #e9e9e9;
}

nav {
  z-index: 1000;
  cursor: pointer;
  overflow: hidden;
}
nav ul li {
  width: 175px;
}
nav ul li a {
  width: 150px;
}
.bg-custom {
  background-color: #dde0ff;
}
.bg-customi {
  background-color: #92cbe3;
}
.btn-custom {
  background-color: #e9e9e9;
  color: #010101;
  /* padding: 5px 25px 5px 25px; */
}
.btn-custom.active {
  background-color: #b8ccff;
  color: #010101;
}

.navbar-custom img {
  height: 70px;
}
.btn-custom:hover {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}
.tong-tom:hover {
  background-color: #a81e0b;
  border-color: #a81e0b;
}
